<div class="promo-box">
<div class="holder">
    <div class="img-holder">
        <img {{bind-attr src=image}}>
    </div> <!-- img-holder -->
    <div class="info">
        {{yield}}
    </div> <!-- info -->
</div> <!-- holder -->
</div><!-- promo-box -->
