<!-- All of the real styling comes from the classes applied on the parent div in tool-box.js -->
<div class="tool-image">
    <object class="vert-align" data="{{image}}" type="image/svg+xml"> </object>
</div> 
<h5 class="tool-name">{{yield}}</h5>
