<!-- All of the real styling comes from the classes applied on the parent div in tool-box.js -->
<div class="tool-image-holder">
    <img class="tool-image" src="{{image}}" />
</div> 
<h5 class="tool-name">{{yield}}</h5>
