@import 'bower_components/foundation/scss/foundation/settings';
@import 'bower_components/foundation/scss/foundation';
@import 'bower_components/font-awesome/scss/font-awesome.scss';
@import 'app/styles/_colors_classes';
@import 'app/styles/variables';
@import 'app/styles/unpad';
@import 'app/styles/type';

a {
    &:focus {
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
 
#logo{
    margin:28px 0 51px;
    text-indent:-9999px;
    background:url(/images/Logo1.png) no-repeat;
    width:230px;
    height:50px;
    overflow:hidden;
}

.nav {
    list-style: none;
    float:left;
    margin: 0px 0;
    overflow: hidden;
    a.active {
        font-weight: 600;
    }
    li {
        float: left;
        padding: 0 25px 0 3px;
    }
}

h1 {

}
h2 {
    font-size: 41px;
    font-weight: normal;
}

h4 {
    color: #333;
    font-size: 40px;
    padding-top: 20px;
    line-height: 100%;
    font-weight: 100;
}
h5 {
    font-family: $font-family-sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

#header {
    // background: url(/images/bg-header.gif) repeat-x;
    border-top: 9px solid $monsoon;
}

.github-link {
    // background: url(/images/btn-start.gif) no-repeat;
    margin-top: -9px;
    background-color: #CDF7EB;
    border: 1px white  solid;
    border-top: none;
    height: 40px;
    width: 100%;
    float: right; 
    color: $oil;
    text-align: center;
    font-size: 17px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

#github-link-lines {
    text-align: center;
    width:85%;
    margin: 0 auto;
    margin-top: 4%;
}

.h-bar-top {
    border-top: $dark-line;
}
.h-bar-bottom {
    border-bottom: $dark-line;
}


.nav.four-oh-four li {
    font-size: 1.9em;
    font-weight: lighter;
}



.promo-box::before {
    content: "";
    background: url(/images/bg-promo.gif);
}


.promo-box {
    background: url(/images/bg-promo.gif);
    /*background: url(/images/square_bg.png);*/
    border-color: #D0E4D9;
    border-width: 1px 0;
    border-style: solid;
    margin-bottom: 60px;
    padding-top: 20px;
    margin-top: 28px;
    // min-height: 330px;
    overflow: hidden;
    @media #{$large-up} { 
        overflow: visible;
    }
}

.promo-image {
    // position: relative;
    margin: -65px -7px -35px 34px;
    img {
        max-width: none;
        height: auto;
    }
}

.promo-box .info {
    font-size: 26px;
    line-height: 32px;
    overflow: hidden;
    padding-top: 42px;
    width: 452px;
}

// .promo-box .info h2 {
//     font-size: 41px;
//     line-height: 48px;
//     font-weight: 100;
//     letter-spacing: 0;
//     margin: 0 0 12px;
//     word-spacing: -4px;
// }

.promo-box p {
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 0;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

#main {
    width: 940px;
    margin: 0 auto;
}

#content {
    width: 613px;
    float: right;
    padding-right: 10px;
    background-color: black;
}

#sidebar {
    float: left;
    width: 321px;
    padding: 9px 0 0 2px;
}

#main h3.title{
    font-size: 22px;
    height: 40px;
    line-height: 42px;
    padding: 0 0 0 0;
    width: 183px;
    margin-bottom: 21px;
    font-weight: 100;
}

#main::after {
    content: "";
    display: block;
    clear: both;
}

.cornerbox {
    background: url(/images/cornerbox.png) repeat-y;
    text-align: center;
}

/* footer start */
#footer{
    // background:url("/images/bg-footer.gif") no-repeat scroll 50% 0 #383838;
    background-color: $charcoal;
    // margin:-7px 0 0;
    padding:20px 0px 20px 0;
}

#footer .contact{
    float:right;
    text-align:right;
    color:#e1f7eb;
}
#footer .contact span{
    display:block;
    color:#fff;
    font-size:16px;
    line-height:16px ;
}

.sub-text {
    word-spacing: 0px;
}

strong, b {
    font-weight: bolder;
}

.contentbox {
    width: 422px;
    height: 270px;
    background: url(/images/contentbox.png) no-repeat;
    margin: 14px 14px 14px 14px;
}

.contentbox p {
    height: 150px;
    width: 200px;
    padding-left: 60px;
    padding-top: 25px;
    font-size: 16px;
    overflow: hidden;
}

.contentbox h4 {
    color: #333;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    line-height: 20px;
    font-weight: lighter;
}

.contentbox.demo img {
    margin:0px auto;
    display: block;
    padding-top: 20px;
    width: 200px;
    filter: blur(1px);
    -webkit-filter: grayscale(1) blur(1px);
}

.contentbox.demo img:hover {
    -webkit-filter: none;
}

.contentbox.demo p {
    margin-top: -10px;
    width: 70%;
}

.promo-box .info p > a, p > a {
    color:mediumslateblue;
}

a .contentbox {
    color: black;
    text-decoration: none;
}

.contentbox p {
    color: black;
    text-decoration: none;
}

.big-box{
    @media #{$small-only} { 
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        .box-action {
            margin-bottom: 3rem;
        }
        .box-action:last-of-type {
            margin-bottom: 1rem;
        }
    }
    @media #{$small-up} { 
        border: 2px solid $charcoal;
        border-radius: 40px;
    }
    @media #{$large-up} { 
        width: 900px;
        height: 220px;
        background: url(/images/longbox.png) no-repeat;
        border: none;
        border-radius: none;
        // padding-left: 4rem;
        padding-right: 2rem;
    }
    margin: 14px 14px 14px 14px;
    padding-top: 2rem;
    a {
        text-decoration: none;
    }
    .vert-divider {
        height: 150px;
    }
}

.vert-divider {
        height: 100%;
        border: 2px solid $charcoal;
        border-radius: 40px;
        float: left;
}

.box-action{
    margin-bottom: 1rem;
    i {
        font-size: 5rem;
    }
    &.box-action-small {
        margin-top: 1rem;
        i {
            font-size: 4rem;
        }
        h5 {
            font-size: 20px;
        }
        .tool-image {
            text-align: center;
            height: 70px;
            padding-left:15px;
        }
        &:first-of-type {
            @media #{$medium-up} { 
                @include grid-column(
                    $offset:1
                )
            }
        }
        &:last-of-type {
            @include grid-column(
                $last-column:false
            )
        }
    }
}


#contact-dialog p {
    text-align: center;
    font-size: 23px;
    padding-top: 18px;
}

.resume-content {
    width:500px;
    padding-left:230px;
    padding-top: 8px
}

.resume-item {
    color:#333;
    padding-bottom: 21px;
}

.resume-item .title {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 18px;
}

.resume-item .title.subtitle{
    font-size: 16px;
    line-height: 100%;
    padding-top:6px;
    padding-bottom:6px;
}

.resume-item .details, .resume-item .details a {
    font-size: 14px;
    font-family: Helvetica;
    text-align: justify;
    line-height: 19px;
    color: #333;
    font-weight: lighter;
}

.resume-item .details a {
    color: #33d;
}

.resume-item .details a:hover {
    text-decoration: underline;
}

rect, circle, path, polygon {
    fill: #656564;
}

.devops-tool:first-child{
    margin-left:30px;
    border: none;
}

.devops-tool {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    float:left;
    width:152px;
    height:140px;
    border-left: 1px solid #656565;
    text-align:center;
    padding: 15px;
}

.tool-icon {
    height: 80px;
    margin-bottom: 30px;
    margin-top: -30px;
}

.tool-name {
    height: 100px;
    font-family: Futura LT;
    font-size: 40px;
    color: #656565;
}

.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
