.resume-supertext {
    padding-bottom: 22px;
    padding-top: 40px;
    text-align: center;
    h6 {
        display: inline;
    }
}

.resume-heading {
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin: 0 auto;
    text-transform: uppercase;
}
