.resume-supertext {
    margin-bottom: 15px;
    margin-top: 40px;
    h6 {
        padding-left: 1.5rem;
        display:inline;
        color: #777;
    }
}

.resume-title {
    // text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin: 0 auto;
    text-transform: uppercase;
}

.resume-body {
    margin-top: 30px;   
}

.resume-job {
    margin-top: 20px;
    margin-bottom: 2rem;
}

.job-details {
    text-align: right;
}

%job-fact {
    $vert-margin: -2px;
    margin-top: $vert-margin;
    margin-bottom: $vert-margin;
}

.job-heading{
        // underline for both '+' and the job-title
        border-bottom: 1px solid #bbb; 
        i {
            font-size: 19px;
            margin-top: 60%;
            color: $charcoal;
        }
        .job-company {
            font-size: 25px;
            margin: 0px;
            text-transform: none;
            display: inline-block;
        }
}

.job-body{
    margin-top: 15px;
}


.job-time{
    @extend %job-fact;
    color: #777;
}

.job-extra-info {
    display: none;
}

.sample-link {
    text-align:center;
    i {
        font-size: 65px
    }
}

.sample-description-row.row{
    margin-top: 10px;
}

.sample-description {
    color: #555;
    line-height: 1.2rem;
}

// standardize across these two names 
// maybe resume-tool-body? 
.resume-tool-list.row,
.sample-body
{
    // spacing between section title and resume-detail body
    margin-top: 20px;
}

.resume-tool{
    // spacing between lines of tool-icons
    margin-bottom: 20px;
}

.resume-tool-image{
    height: 100%;
}

.resume-tool-image-holder {
    height: 50px;
    text-align: center;
}
// The last tool in a list on the resume page needs to have the end class added
// or else it will get pulled over to the right side and look odd
.resume-tool:last-child { 
    @extend .end;
}

.resume-tool-name {
    font-size: .7rem; 
    text-align: center;
    margin-top: 5px;
}
