@font-face {
	font-family: 'Museo';
	src: url(type/Museo300-Regular.otf);
}

@font-face {
    font-family: 'Museo';
    src: url(type/Museo100-Regular.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'Museo';
    src: url(type/Museo600-Regular.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url(type/GothamRnd.otf);
}

@font-face {
    font-family: 'Futura LT';
    src: url(type/FuturaLT.otf);
}
