// Bootstrap config variables
$brand-primary:         #fff;

$body-bg:               #F9FBF4;
$font-family-base:      "Museo", Verdana, Sans-serif;

$navbar-default-link-color: #000;
$navbar-inverse-link-color: #fff;

// Non-bootstrap variables. Probably/possibly bad ideas here
$copy-type: $font-family-base;
$dark-line: 1px black solid;
