<div class="container">

<div id="header">

  <div class="row">
    <div id="github-link-holder" class="row">
      <div class="small-offset-6 small-4 medium-offset-8 medium-3
          large-offset-10 large-2 columns">
          <a href="https://github.com/nsu" class="github-link">
            <div id="github-link-lines" class="h-bar-top h-bar-bottom">
                Visit Github
            </div> 
          </a>
      </div> <!-- github-link-holder-->
    </div> 

      <div class="row">
        <div class="small-offset-1 medium-3 columns">
            {{#link-to "index"}}
                <h1 id="logo">
                    Alex Karpinski
                </h1><!-- logo h1 -->
            {{/link-to}}
        </div><!-- logo offset div -->
      </div> 

      <div id="nav-list" class="row">
        <div class="small-offset-1 medium-11 columns">
          {{ nav-list my_path=currentPath color="jet"}}
        </div><!--  nav-list -->
      </div> 

  </div> 
</div> 

{{outlet}}

<div id="footer">
    <div class="row">
        <div class="small-offset-1 medium-9 columns">
            {{ nav-list my_path=currentPath color="snow"}}
        </div> 
        <!-- <div class="contact"> -->
        <!--     {{link-to "attributions"}} -->
        <!-- </div> --> 
        <!--     Graphics from <em>thenounproject</em> -->
        <!--     <span><a href="http://thenounproject.com/">thenounproject.com</a></span> -->
        <!-- </div><!-- contact-->
    </div> <!-- row -->
</div> <!--footer-->
</div> <!--container-->
