<div class="container">

<div id="header">

  <div class="row">
    <div id="github-link-holder" class="row">
      <div class="large-offset-9 large-2 columns">
          <a href="https://github.com/nsu" class="github-link">
            <div id="github-link-lines" class="h-bar-top h-bar-bottom">
                Visit Github
            </div> 
          </a>
      </div> <!-- github-link-holder-->
    </div> 

      <div class="row">
        <div class="large-1-offset-1 large-3 columns">
            {{#link-to "index"}}
                <h1 id="logo">
                    Alex Karpinski
                </h1><!-- logo h1 -->
            {{/link-to}}
        </div><!-- logo offset div -->
      </div> 

      <div id="nav-list" class="row">
        <div class="large-5-offset-1 columns">
          {{ nav-list my_path=currentPath color="jet"}}
        </div><!--  nav-list -->
      </div> 

  </div> 
</div> 

{{outlet}}

<div id="footer">
  <div class="holder">
      {{ nav-list my_path=currentPath color="snow"}}
    <!-- <ul class="sub&#45;nav"> -->
    <!--   <li class="active"><a href="/">Home</a></li> -->
    <!--   <li><a href="http://blog.alexkarpinski.com">Blog</a></li> -->
    <!--   <li><a href="lasso.html">Lasso</a></li> -->
    <!--   <li><a href="devops.html">DevOps</a></li> -->
    <!--   <li><a href="design.html">Web Design</a></li> -->
    <!--   <li><a href="sideprojects.html">Side Projects</a></li> -->
    <!--   <li><a href="education.html">Education</a></li> -->
    <!-- </ul><!&#45;&#45;sub&#45;nav&#45;&#45;> -->
    <div class="contact">
      Graphics from <em>thenounproject</em>
      <span><a href="http://thenounproject.com/">thenounproject.com</a></span>
    </div><!--contact-->
  </div><!--holder-->
</div> <!--footer-->
</div> <!--container-->
