<div class="container">

<div id="header">

  <div class="row">
    <div id="github-link-holder" class="row">
      <div class="large-offset-9 large-2 columns">
          <a href="https://github.com/nsu" class="github-link">
            <div id="github-link-lines" class="h-bar-top h-bar-bottom">
                Visit Github
            </div> 
          </a>
      </div> <!-- github-link-holder-->
    </div> 

      <div class="row">
        <div class="col-md-offset-2">
            {{#link-to "index"}}
                <h1 id="logo">
                    Alex Karpinski
                </h1><!-- logo h1 -->
            {{/link-to}}
        </div><!-- logo offset div -->
      </div> 

      <div id="nav-list" class="row">
        <div class="col-md-offset-2">
          {{ nav-list my_path=currentPath text-color="default"}}
        </div><!--  nav-list -->
      </div> 
      

  </div> 
</div> 

<div class="promo-box">
  <div class="holder">
    <div class="img-holder">
      <img alt="3 gears"src="images/gear.png">
    </div> <!-- img-holder -->
    <div class="info">
      <h2>Development &amp; Design</h2>
      <p>
      Hello, my name is Alex. I'm a software developer, devops engineer, and web designer. And I'm trying to make the world a more interesting place.
      </p>
    </div> <!-- info -->
  </div> <!-- holder -->
</div> <!-- promo-box -->

  <div class="main">
  </div> <!-- main -->

<div id="footer">
  <div class="holder">
      {{ nav-list my_path=currentPath color="inverse"}}
    <!-- <ul class="sub&#45;nav"> -->
    <!--   <li class="active"><a href="/">Home</a></li> -->
    <!--   <li><a href="http://blog.alexkarpinski.com">Blog</a></li> -->
    <!--   <li><a href="lasso.html">Lasso</a></li> -->
    <!--   <li><a href="devops.html">DevOps</a></li> -->
    <!--   <li><a href="design.html">Web Design</a></li> -->
    <!--   <li><a href="sideprojects.html">Side Projects</a></li> -->
    <!--   <li><a href="education.html">Education</a></li> -->
    <!-- </ul><!&#45;&#45;sub&#45;nav&#45;&#45;> -->
    <div class="contact">
      Graphics from <em>thenounproject</em>
      <span><a href="http://thenounproject.com/">thenounproject.com</a></span>
    </div><!--contact-->
  </div><!--holder-->
</div> <!--footer-->
</div> <!--container-->

{{outlet}}
