{{#promo-box image="/images/gear.png"}}
    <div class="small-offset-1 medium-6 columns">
        <h2>Development &amp; Design</h2>
        <p>
        Hello, my name is Alex. I'm a software developer, devops engineer, and web designer. And I'm trying to make the world a more interesting place.
        </p>
    </div> 
    <div class="promo-image medium-3 columns end show-for-medium-up ">
        <img src="/images/gear.png">
    </div> <!-- img-holder -->
{{/promo-box}}
<div class="main">
    <div class="row">
        <div class="small-offset-1 medium-10 large-6 columns big-box">
            <div class="row">
                <div class="medium-offset-1 large-5 medium-5 columns">
                        <h4 class="text-center">Contact</h4>
                        <label for="right-label" class="inline right">Email</label> 
                        <h5 style="margin-top: 1rem"> me@alexkarpinski.com </h5> 
                        <h5> @subterraneus </h5> 
                </div> 
                <div class="vert-divider"></div>
                <div class="medium-offset-1 large-3 medium-3 columns">
                        <h4 class="text-center">Resume</h4>
                </div> 
                </div> 
            </div> <!-- column big-box -->
        </div> <!-- row -->
    {{outlet}}
</div> <!-- main -->
