{{#promo-box image="/images/gear.png"}}
        <h2>Development &amp; Design</h2>
        <p>
        Hello, my name is Alex. I'm a software developer, devops engineer, and web designer. And I'm trying to make the world a more interesting place.
        </p>
{{/promo-box}}
<div class="main">
    <h1> poop </h1> 
    {{outlet}}
</div> <!-- main -->
