{{#promo-box image="/images/gear.png"}}
    <div class="small-offset-1 small-11 medium-6 columns">
        <h4>Development &amp; Design</h4>
        <p>
        Hello, my name is Alex. I'm a software developer, devops engineer, and web designer. I'm trying to make the world a more interesting place.
        </p>
    </div> 
    <div class="promo-image medium-3 columns end show-for-medium-up ">
        <img src="/images/gear.png">
    </div> <!-- img-holder -->
{{/promo-box}}
<div class="main">
    <div class="row">
        <h2 class="text-center">The Basics</h2>
    </div> 
    <div class="row">
        <div class="small-offset-1 small-10 medium-10 large-6 columns big-box">
            <div class="row">
                <div class="columns medium-6 box-action text-center">
                    <i style="font-size:5rem;" class="charcoal fa fa-paper-plane"></i>
                    <h5 style="margin-top:1rem;">Email</h5>
                </div> 
                <div class="columns show-for-medium-up medium-1">
                    <div class="vert-divider"></div>
                </div> 
                <!-- Still requires vertical divider -->
                <div class="columns medium-5 box-action text-center">
                    <i style="font-size:5rem;" class="charcoal fa fa-file-text-o"></i>
                    {{link-to "resume"}}
                    <h5 style="margin-top:1rem;">Resume</h5>
                </div> 
            </div> <!-- row -->
        </div> <!-- column big-box -->
    </div> <!-- row -->
    {{outlet}}
</div> <!-- main -->
<!-- columns medium-4 large-1 large-offset-1 text-center vert-align -->
