{{#promo-box image="/images/gear.png"}}
    <div class="small-offset-1 medium-6 columns">
        <h2>Development &amp; Design</h2>
        <p>
        Hello, my name is Alex. I'm a software developer, devops engineer, and web designer. And I'm trying to make the world a more interesting place.
        </p>
    </div> 
    <div class="promo-image medium-3 columns end show-for-medium-up ">
        <img src="/images/gear.png">
    </div> <!-- img-holder -->
{{/promo-box}}
<div class="main">
    <div class="row">
        <div class="small-offset-1 medium-6 columns big-box">
            <div class="row">
                <div class="medium-offset-2 medium-2 columns">
                    <a {{action 'toggleContact' 'contactPopover'}}>
                        <img style="" src="images/at.png" alt="At">
                        <h4>Contact</h4>
                    </a>
                    {{ outlet 'contactPopover' }}
                </div> 
                <div class="vert-divider medium-offset-2"></div>
                <div class="medium-offset-2 medium-2 columns">
                    <a href="javascript:void(0)">
                        <img src="images/page.png" alt="At">
                        <h4>Resume</h4>
                    </a>
                </div> 
                </div> 
            </div> <!-- column big-box -->
        </div> <!-- row -->
    {{outlet}}
</div> <!-- main -->
