    
{{#promo-box}}
    <div class="small-offset-1 small-11 medium-6 columns">
        <h4>Side-projects</h4>
        <p>
        Some times the best ideas don't come with contracts or paychecks. Here
        are some odds and ends I've put together. 
        </p>
    </div> 
        <div class="columns large-offset-1 medium-4 end show-for-medium-up promo-image">
        <img src="/images/blueprints.svg">
    </div> <!-- img-holder -->
{{/promo-box}}
 <!-- promo-box -->

    <div id="main">

        <div class="row">
            <div class="columns medium-6">
                <div class="contentbox demo">
                <a href="http://bookatron.alexkarpinski.com">
                    <img src="project-demos/bookatron-teaser.png" />
                </a>
                <p class="project-description">
                    <span class="project-title small-title">Bookatron</span> 
                    Google Books and Amazon Product APIs provide the data for
                    this simple book recommendation website. Written using Ember
                    and Express, this site lets friends and family add 
                    books to my reading list.
                </p>
                </div>
            </div>

            <div class="columns medium-6">
                <div class="contentbox demo">
                <a href="project-demos/polisci-demo.pdf">
                    <img src="project-demos/polisci-teaser.png" />
                </a>
                <p class="project-description">
                    <span class="project-title small-title">Political Science</span>
                    The thesis project for my political science
                    research seminar focused on a statistical analysis of
                    Twitter use among politicians. This project required 
                    machine learning, data scraping and political theory.
                </p>
                </div>
            </div> <!-- contentbox -->
        
            <div class="columns medium-6">
                <div class="contentbox demo">
                <a href="http://fantasyolympics.alexkarpinski.com/">
                    <img src="project-demos/fantasy-olympics-teaser.png" />
                </a>
                <p class="project-description">
                    <span class="project-title small-title">Fantasy Olympics</span> 
                    Fantasy sports webapp for the 2014 Winter Olympics. Users drafted
                    their favorite athletes, created their personal Olympics
                    teams and followed the competition.
                </p>
                </div>
            </div>

            <div class="columns medium-6">
                <div class="contentbox demo">
                <a href="project-demos/cnn-grams-teaser.png">
                    <img src="project-demos/cnn-grams-teaser.png" />
                </a>
                <p class="project-description">
                    <span class="project-title small-title">CNN-grams</span>
                    An attempt to catalog transcripts from major news agencies 
                    and build an interface for n-gram analysis of their content.
                </p>
                </div>
            </div> <!-- contentbox -->
        
            <div class="columns medium-6">
                <div class="contentbox demo">
                <a href="http://www.asoftergit.com">
                    <img src="project-demos/asoftergit-teaser.png" />
                </a>
                <p class="project-description">
                    <span class="project-title small-title">A Softer Git</span> 
                    A twist on the 
                    <a href="http://www.asofterworld.com/">eclectic comics</a> 
                    of Emily Horne and Joey Comeau. Comics for
                    <em>A Softer Git</em> are generated using random content 
                    from github and flickr.
                </p>
                </div>
            </div>

            <div class="columns medium-6">
                <div class="contentbox demo">
                <a href="project-demos/stats/">
                    <img src="project-demos/stats-teaser.png" />
                </a>
                <p class="project-description">
                    <span class="project-title small-title">Statistics</span>
                    Designed as a way to gather statistics, this small game
                    tests users on computer input multitasking. It garnered 
                    over 10,000 unique visitors over the course of the first day.
                </p>
                </div>
            </div> <!-- contentbox -->

        </div>


        <div id="content">
        </div> <!-- content -->
        <div id="sidebar">
            <div class="container">
            </div> <!-- container -->
        </div> <!-- sidebar -->
    </div> <!-- main -->
{{outlet}}
