<div class="grid-bg">
    <div id="resume-header">
        <div class="row resume-supertext">
            <div class="columns medium-offset-3">
                <h6>Software Development</h6> 
                <h6>System Administration</h6> 
                <h6>Web Design</h6> 
            </div> 
        </div> 
        <div class="row">
            <h3 class="columns medium-offset-3 resume-title">Alex Karpinski</h3>
        </div> 
    </div> 
    <div class="resume-body">
        {{#each job in model.jobs}}
            {{#resume-job job=job}} {{/resume-job}}
        {{/each}}
    </div> <!--resume-body -->
</div> <!-- grid-bg -->
{{outlet}}
