<div class="grid-bg">
<div id="resume-header">
    <div class="resume-supertext">
    <h6>Software Development&nbsp;&nbsp;&nbsp;&nbsp;</h6> 
    <h6>System Administration&nbsp;&nbsp;&nbsp;&nbsp;</h6> 
    <h6>Web Design</h6> 
</div> 
    <h3 class="resume-heading">Alex Karpinski</h3>
</div> 
</div>
{{outlet}}
