<div class="main">
    <div class="row">
        <h2 class="text-center">Professional Use</h2>
    </div> 
    <div class="row">
        <div class="small-offset-1 small-10 medium-10 large-6 columns big-box">
            <div class="row">
                {{#tool-box image="images/tools/apache_logo.svg"}}
                   Apache
                {{/tool-box}}
                {{#tool-box image="images/tools/penguin.svg"}}
                   Linux
                {{/tool-box}}
                {{#tool-box image="images/tools/nginx_logo.svg"}}
                   NGinx
                {{/tool-box}}
                {{#tool-box image="images/tools/html.svg"}}
                   HTML &amp; CSS
                {{/tool-box}}
                {{#tool-box image="images/tools/jquery_logo.svg"}}
                   jQuery
                {{/tool-box}}
            </div> <!-- row -->
        </div> <!-- column big-box -->
    </div>
    <div class="row">
        <div class="small-offset-1 small-10 medium-10 large-6 columns big-box">
            <div class="row">
                {{#tool-box image="images/tools/django_logo.svg"}}
                   Django
                {{/tool-box}}
                {{#tool-box image="images/tools/penguin.svg"}}
                   Linux
                {{/tool-box}}
                {{#tool-box image="images/tools/nginx_logo.svg"}}
                   NGinx
                {{/tool-box}}
                {{#tool-box image="images/tools/html.svg"}}
                   HTML &amp; CSS
                {{/tool-box}}
                {{#tool-box image="images/tools/jquery_logo.svg"}}
                   jQuery
                {{/tool-box}}
            </div> <!-- row -->
        </div> <!-- column big-box -->
    </div>
    <div class="row">
        <h2 class="text-center">Personal Projects</h2>
    </div> 
    <div class="row">
        <div class="small-offset-1 small-10 medium-10 large-6 columns big-box">
            <div class="row">
                <div class="columns small-offset-1 medium-2 box-action text-center">
                    <i style="font-size:5rem;" class="charcoal fa fa-paper-plane"></i>
                    <h6 style="margin-top:2rem;">Email</h6>
                </div> 
                <div class="columns medium-2 box-action text-center">
                    <i style="font-size:5rem;" class="charcoal fa fa-linux"></i>
                    <h6 style="margin-top:2rem;">Resume</h6>
                </div> 
                <div class="columns medium-2 box-action text-center">
                    <i style="font-size:5rem;" class="charcoal fa fa-file-text-o"></i>
                    <h6 style="margin-top:2rem;">Resume</h6>
                </div> 
            </div> <!-- row -->
        </div> <!-- column big-box -->
    </div> <!-- row -->
    {{outlet}}
</div> <!-- main -->
{{outlet}}
